<%- include('./partials/header') %>

<header>
  <div class="header">discover the best drink ever</div>
  <form action="">
    <input type="text" />
    <div class="btn-priamry">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="156"
        height="140"
        viewBox="0 0 156 140"
        fill="none"
      >
        <path
          d="M2 70L153 70"
          stroke="black"
          stroke-width="4"
          stroke-linecap="round"
        />
        <path
          d="M84.8822 2L152.764 69.8822L84.8822 137.764"
          stroke="black"
          stroke-width="4"
          stroke-linecap="round"
        />
      </svg>
    </div>
  </form>
</header>

<div class="home-section-contianer">
  <div class="home-drink-container">
    <div class="img">
      <!-- image here later -->
    </div>
    <h1>The Drink Name</h1>
    <div class="btn-secondary">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="156"
        height="140"
        viewBox="0 0 156 140"
        fill="none"
      >
        <path
          d="M2 70L153 70"
          stroke="black"
          stroke-width="4"
          stroke-linecap="round"
        />
        <path
          d="M84.8822 2L152.764 69.8822L84.8822 137.764"
          stroke="black"
          stroke-width="4"
          stroke-linecap="round"
        />
      </svg>
    </div>
  </div>
</div>
<%- include('./partials/footer') %>
